<!-- Filename: index.hbs -->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" charset="utf-8">
    <meta charset="utf-8">
    <title>CSV Validator</title>
    <style media="screen">
      body {
        padding-top: 60px;
        background-color: #f5f5f5;
      }
      .upload-form {
        max-width: 500px;
        padding: 19px 29px 29px;
        margin: 0 auto;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .upload-form .checkbox {
        margin-bottom: 10px;
      }
    </style>
</head>
<body>
    <div class="container">
      {{{body}}}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="/js/script.js" charset="utf-8"></script>
</body>
</html>
