<div class="row">
  <div class="upload-form">
    {{#if messages}}
      {{#each messages}}
        <div class="alert alert-{{type}}">
          {{message}}
        </div>
      {{/each}}
    {{/if}}
    <form method="post" action="/upload" enctype="multipart/form-data">
      <div class="form-group">
        <h1>Upload File</h1>
        <label for="upload-file">Upload CSV File</label>
        <input type="file" class="form-control-file" id="upload-file" name="myFile">
      </div>
      <div class="form-group">
        <p>Please select the output formats</p>
        <label class="checkbox">
          <input type="checkbox" name="outputFormat[xml]" value="xml">XML
        </label>
        <label class="checkbox">
          <input type="checkbox" name="outputFormat[json]" value="json">JSON
        </label>
        <label class="checkbox">
          <input type="checkbox" name="outputFormat[html]" value="csv">CSV
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="row">
      <div class="col-md-12">
        <div class="output-files">
          {{#if files}}
            <h3>Output Files</h3>
            {{#each files}}
              <div class="item">
                <a href="{{ path }}" target="_blank">{{ fileType }}</a>
              </div>
            {{/each}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
